@using Web.Repository

@model EnF.Menu

@{
    ViewBag.Title = "Create";
    List<SelectListItem> listItems = new List<SelectListItem>();
    var listMenus = Repository.GetAllMenu();
    listItems.Add(new SelectListItem { Text = "---Chọn menu cha---", Value = "0" });
    if (listMenus.Count>0)
    {
        for (int i = 0; i < listMenus.Count; i++)
        {
            listItems.Add(new SelectListItem { Text = listMenus[i].Name, Value = listMenus[i].MenuId.ToString() });
        }
    }
}

<h2>Thêm mới menu</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Menu</h4>
        <hr />
        @Html.ValidationSummary(true)
    

        <div class="form-group">
            @Html.Label("Tên", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
              @Html.TextBoxFor(model => model.Link, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Link)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParentId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("ParentId", listItems, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ParentId)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.IsNewTab, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsNewTab)
                @Html.ValidationMessageFor(model => model.IsNewTab)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Pos, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Pos)
            </div>
        </div>

 
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
