@using EnF;
@using System.Data;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";

    //var listProduct = (List<Product>)ViewBag.TopProduct;
    Sim4GEntities db=new Sim4GEntities();
    
    var grouplist = (List<ProductGroup>)ViewBag.GroupList;
    var Architecproductgroup = (List<ProductGroup>)ViewBag.Architecproductgroup;
    DataTable listProduct = (DataTable)ViewData["TopProduct"];


}

<!-- start slider -->
<!-- end header -->

<div class="col-md-12 boxsection productevent" style="background: rgba(76, 76, 76, 0.07); padding-top: 6%;">
    <div class="container" style="width:auto;">
        <div class="col-md-12 box-product">
            <div class="col-md-4 tab-mobi">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>Các gói cước Viettel </span>
                    </div>
                    @foreach (Product pro in db.Products.ToList())
                    {
                         <div class="panel-tab">
                        <div class="block_home_right">
                            <ul>
                                <li class="clearfix">
                                    <a class="package-name" href="">@pro.TenGoi</a>

                                    <div class="btn-register"><a href="javascript:void(0);" onclick="smsbutton(9, '@pro.DauSo', '@pro.CuPhap 0968348348')">Đăng Ký </a></div>
                                    <span>@pro.GiaCuoc</span>

                                </li>
                            </ul>
                           
                        </div>

                    </div>
                    }
                   
                </div>


            </div>

            <div class="col-md-8 promobi">
                @foreach (ProductGroup prgp in grouplist)
                {
                    <div class="col-lg-12 box">
                        <div class="col-lg-12 product">
                            <div class="panel panel-heading">
                                <div class="nameproduct">
                                    <span> @prgp.Name</span>
                                </div>
                            </div>
                            <div class="panel-product">
                                @{
                    List<Product> listProuct = db.Products.Where(p => p.ProductGroupID == prgp.ProductGroupId).ToList();
                                }

                                @foreach (Product pro in listProuct)
                                {
                                    <div class="col-md-6 panel-body">
                                        <div class="info-package">
                                            <p><a href="">@pro.TenGoi</a></p>
                                            <ul>
                                                <li>Lưu lượng: <span>@pro.LuuLuong</span></li>

                                                <li>Giá cước: <span>@pro.GiaCuoc</span></li>
                                            </ul>
                                            <div class="text-center clearfix">
                                                <div class="sms_syntax">
                                                    Soạn
                                                    <span> @pro.CuPhap 0968348348 </span> gửi
                                                    <span>@pro.DauSo</span>
                                                </div>
                                                <div class="button">
                                                    <a class="btn-register" href="" onclick="smsbutton(9, '@pro.DauSo', '@pro.CuPhap 0968348348')">Đăng Ký Ngay</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="button">
                                            <a class="btn-register" href="javascript:void(0);" onclick="smsbutton(9, '@pro.DauSo', '@pro.CuPhap 0968348348')">Đăng Ký Ngay</a>
                                        </div>

                                    </div>
                                }



                            </div>

                        </div>
                    </div>
                }






            </div>
        </div>
        <div class="col-md-12 box-tienich">
            <div class="col-md-4">

            </div>
            <div class="col-md-8 tienich-mobi">
                <div class=" col-lg-12 product-utility">
                    <div class="panel-utility">
                        <div class="name-utility">
                            <span> TIỆN ÍCH VIETTEL</span>
                        </div>
                    </div>
                    <div class="panel-detail">                        
                        <div class="col-md-6 detail-utility">
                            <div class="col-md-12 noidung-tienich">
                                <div class="page-item item1">
                                    <h1><a href="">Đăng ký gói cước Mimax4g Viettel trọn gói 90.000đ</a></h1>
                                    <p>Đăng ký gói cước Mimax Viettel trọn gói 90.000đ</p>
                                    <a href="" class="btn-detail">Chi tiết</a>
                                </div>
                            </div>
                        </div><div class="col-md-6 detail-utility">
                            <div class="col-md-12 noidung-tienich">
                                <div class="page-item item1">
                                    <h1><a href="">Đăng ký gói cước Mimax4g Viettel trọn gói 90.000đ</a></h1>
                                    <p>Đăng ký gói cước Mimax Viettel trọn gói 90.000đ</p>
                                    <a href="" class="btn-detail">Chi tiết</a>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-12 box-khuyenmai">

            <div class="col-md-4">

            </div>
            <div class="col-md-8 khuyenmai-mobi">
                <div class="col-md-12 khuyenmai">
                    <div class="text-khuyenmai">
                        <div class="name-khuyenmai">
                            <span> Khuyến mãi Viettel</span>
                        </div>
                    </div>
                    <div class="col-md-12 nd-khuyenmai">
                        <ul class="block-khuyenmai ">
                            <li>
                                <img src="~/images/khuyenmai1.jpg" alt="" />
                                <a href="">Khuyến mãi Viettel ngày 8/6 – 12/6/2017 tặng 50% thẻ nạp, tiền nạp </a>
                            </li>
                            <li>
                                <img src="~/images/khuyenmai2.png" alt="" />
                                <a href="">Chương trình khuyến mãi hòa mạng trả sau Viettel tháng 6/2017 </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

  
   
}
<style type="text/css">

</style>

